body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase; 
    margin-right: 76px;
}

.logo-first{
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-first:focus,
.logo-first:hover{
    text-decoration: underline;
    color: #404bbf;
}


.menu{
    display: flex;
    gap: 40px; 
}

.ul-menu{
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.ul-text{
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.ul-add{
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.link{
    padding: 24px 0;
    text-decoration: none;
    color: #404bbf;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link-li{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-li:hover,
.link-li:focus{
    color: #404bbf;
}


.link-first:hover,
.link-first:focus{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.link:hover,
.link:focus{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-item{
    gap: 40px;
}

.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container{
    display: flex;
    align-items: center; 
    justify-content: space-between;
}

.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button{
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.button:hover,
.button:focus{
    background-color: #404bbf;
}


.hero-bg{
    margin: 0 auto;
    max-width: 1440px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7)), url('../images/people-office_1.jpg');   
}
    

.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.title-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin: 0 auto 72px auto;
}

.text-item{
    max-width: 264px;
    color: #F4F4FD;
    background-color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.logo-first-item{
    color: #F4F4FD;
}

.lowland{
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #2e2f42;
}

.heading{
    margin-bottom: 8px;
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.li-text{
    gap: 24px;
}

.li-text-item{
    width: calc((100% - 72px) / 4);
}

.box-item{
    background-color: #F4F4FD;
}

.link-item{
    background-color: #ffffff;
}

.link-item{
    border-radius: 0 0 4px 4px;
    width: calc((100% - 72px) / 4);
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.title{
    margin-right: auto;
    margin-left: auto;
    max-width: 496px;
    margin-bottom: 48px;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.add{
    font-style: normal;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    margin: 0;
}

.container { 
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.section{
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-box{
    padding: 188px 0;
    color: #ffffff;
    background-color: #2e2f42;
    width: 100%;
}

.section-text{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.ul-portfolio{
    display: flex;
    align-items: center;
    padding-left: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    flex-wrap: wrap;
    list-style-type: none;
    column-gap: 24px;
    row-gap: 48px;
    max-width: 1128px;
    margin: 0 auto 0 auto;
}

.portfolio{
    width: calc( ( 100% - 48px ) /3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container-port{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio:hover,
.portfolio:focus{
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.port-text{
    top: 0;
    left: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    background-color: #4D5AE5;
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}


.port{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
    overflow: hidden;
}

.portfolio:hover .port-text,
.portfolio:focus .port-text{
    transform: translateY(0);
}

.nav{
    display: flex;
    align-items: center;
}

img{
    display: block;
}

.ul-team{
    padding-left: 0;
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    list-style-type: none;
    display: flex;
    gap: 24px;
}

.name{
    padding: 32px 0;
}

.heading-team{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin-bottom: 8px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text-team{
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-list{
    padding-top: 8px;
    padding-left: 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.li-link-team{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.logo-item{
    display: inline-block;
    margin-bottom: 16px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.current{
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    display: block;
    height: 4px;
    color: #404BBF;
    background-color: #404bbf;;
    border-radius: 2px;
}


.social-networks{
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;   
}

.social-networks-link{
    fill: #f4f4fd;
}

.network-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-flex;
    list-style-type: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.li-link-team:hover,
.li-link-team:focus{
    background-color: #404BBF;
}

.media{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #fff;
    margin-bottom: 16px;
}

.media-icons{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #4D5AE5;
    list-style-type: none;
    border-radius: 50%;
    margin-top: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icons-iteam{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    height: 112px;
    background-color: #f4f4fd;
    margin-bottom: 8px;
}


.container-footer{
    display: flex;
    align-items: baseline;
}

.footer-logo{
    margin-right: 120px;
}

.footer-icons{
    display: flex;
    gap: 16px;
    padding: 0;
}

.li-icons{
    width: 40px;
    height: 40px;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-link-footer{
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.li-link-footer:hover,
.li-link-footer:focus{
    background-color: #31d0aa;
}