body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    color: #4D5AE5;
    font-size: 18px;
    text-decoration: none;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;

}

.logo-first{
    color: #2e2f42;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-first:focus,
.logo-first:hover{
    text-decoration: underline;
    color: #404bbf;
}

.ul{
    list-style-type: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

.link{
    text-decoration: none;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.link-li{
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-li:hover,
.link-li:focus{
    color: #404bbf;
}


.link-first:hover,
.link-first:focus{
    color: #404bbf;
}

.link:hover,
.link:focus{
    color: #404bbf;
}

.button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    background-color:#4D5AE5;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button:hover,
.button:focus{
    background-color: #404bbf;
}

.box{
    color: #ffffff;
    background-color: #2e2f42;
}

.text{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.title-item{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.text-item{
    color: #F4F4FD;
    background-color: #2e2f42;
    letter-spacing: 0.02em;
    line-height: 1.5;
}

.logo-first-item{
    color: #F4F4FD;
}

.lowland{
    background-color: #2e2f42;
}

.heading{
    color: #2e2f42;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.box-item{
    background-color: #F4F4FD;
}

.link-item{
    background-color: #ffffff;
}

.title{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.add{
    font-style: normal;
}
